extends layout

block content
    div(class="contact")
        div(class="contact-child")
            i(class="fas fa-envelope")
        div(class="contact-child")
            i(class="fab fa-linkedin-in")
        div(class="contact-child")
            i(class="fab fa-github")
        div(class="contact-child")
            i(class="fab fa-twitter")
        div(class="contact-child")
            a(href="mailto:jbixon13@gmail.com") Email
        div(class="contact-child")
            a(href="https://www.linkedin.com/in/jasonbixon") LinkedIn
        div(class="contact-child")
            a(href="https://www.github.com/jbixon13") Github
        div(class="contact-child")
            a(href="https://www.twitter.com/bixondata") Twitter    

    script(src="https://kit.fontawesome.com/e895b7e38b.js" crossorigin="anonymous")
