extends layout

block content
  article
    .posts-list.l-page

      a(class="post-preview", href='/scrollytest')
        .metadata
          .publishedDate 11/6/2019
        .thumbnail
          img(src='https://repository-images.githubusercontent.com/107678987/24b9c600-61aa-11e9-9070-5e8e7f75d552')
        .description
          h2 SCROLLYTEST
          p Test out Scrollama.js

      a(class="post-preview", href='/deckgl')
        .metadata
          .publishedDate 11/4/2019
        .thumbnail
          img(src='https://camo.githubusercontent.com/5da3ed41336cdccc6f186d13e9de7e97cced98b3/687474703a2f2f692e696d6775722e636f6d2f6d7666766766302e6a7067')
        .description
          h2 DECK.GL
          p Test out Deck.gl

      a(class="post-preview", href='/learning-devops')
        .metadata
          .publishedDate 10/26/2019
        .thumbnail
          img(src='images/preview/learning-devops.png')
        .description
          h2 Learning DevOps, Unfortunately
          p Accepting my fate and building robust software.

      a(class="post-preview", href='/cyclist-safety')
        .metadata
          .publishedDate 9/11/2019
        .thumbnail
          img(src='images/preview/cyclist-safety.gif')
        .description
          h2 Mapping Cyclist Safety in New York City
          p Is there a relationship between bike path access and cyclist injuries?

      a(class="post-preview", href='/year-one')
        .metadata
          .publishedDate 8/4/2019
        .thumbnail
          img(src='images/preview/year-one.png')
        .description
          h2 Year One in Review
          p A reflection on my first year (and change) in the real world.

      a(class="post-preview", href='/date-mapdeck')
        .metadata
          .publishedDate 6/16/2019
        .thumbnail
          img(src='images/preview/date-mapdeck.jpg')
        .description
          h2 A Date with Mapdeck
          p Deck.gl is cool, Deck.gl in R is cooler.

      a(class="post-preview", href='/mta-doom-gloom')
        .metadata
          .publishedDate 4/14/2019
        .thumbnail
          img(src='/images/preview/mta-doom-gloom.gif')
        .description
          h2 MTA Doom and Gloom
          p Is the NYC subway system as dire as we say it is?

      a(class="post-preview", href='/shiny-is-cool')
        .metadata
          .publishedDate 4/2/2019
        .thumbnail
          img(src='/images/preview/shiny-is-cool.jpg')
        .description
          h2 Shiny is Cool as Hell
          p A surprisingly intuitive tool for data democratization.

      a(class="post-preview", href='/new-blog')
        .metadata
          .publishedDate 1/24/2019
        .thumbnail
          img(src='/images/preview/new-blog.jpg')
        .description
          h2 New Year, New (First) Blog
          p Trying my best.