extends layout

block content
  article
    .posts-list.l-page
      a(class="post-preview", href='/scrollytest')
        .metadata
          .publishedDate 11/6/2019
        .thumbnail
          img(src='https://repository-images.githubusercontent.com/107678987/24b9c600-61aa-11e9-9070-5e8e7f75d552')
        .description
          h2 SCROLLYTEST
          p Test out Scrollama.js
      a(class="post-preview", href='/deckgl')
        .metadata
          .publishedDate 11/4/2019
        .thumbnail
          img(src='https://camo.githubusercontent.com/5da3ed41336cdccc6f186d13e9de7e97cced98b3/687474703a2f2f692e696d6775722e636f6d2f6d7666766766302e6a7067')
        .description
          h2 DECK.GL
          p Test out Deck.gl