doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1")
  body
    header
      .content.l-page
        a(class="logo" href="/")
          img(class="main-logo", src="/images/logo.png")
        .nav
          a(href="/") Home
          a(href="/about") About
          a(href="https://jasonbixon.netlify.com/") Portfolio
          a(href="/contact") Contact
    block content
    footer 
      .l-page
        .description
          p Made in Baltimore
        .nav
          p Design modeled after #[a(href="https://distill.pub/", style="color: rgba(255, 255, 255, .4);") Distill.pub]
          p Artwork attributions can be found under each item on #[a(href="https://jasonbixon.netlify.com", style="color: rgba(255, 255, 255, .4);") my portfolio]