doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1")
  body
    header
      .content.l-page
        a(class="logo" href="/")
          img(class="main-logo", src="/images/logo.png")
        .nav
          a(href="/") Home
          a(href="/about") About
          a(href="https://jasonbixon.netlify.com/") Portfolio
          a(href="/contact") Contact
    block content
    footer 
      .l-page
        .description
          p Node.js, Express, Jade, D3, Deck.gl
        .nav
          p Test footer links