extends layout

block content
    div(class="test-article-title")
        h1= title
        p= articleDescription
    div(class="article-byline")
        div(class="byline grid")
            div(class="authors-affiliations grid")
                h3 Authors
                h3 Affiliations
                p(class="author")
                    a(class="name", href="https://jasonbixon.netlify.com") Jason Bixon
                p(class="affiliation")
                    a(class="affiliation", href="https://merkleinc.com") Merkle Inc.
            div
                h3 Published
                p= articleDate
    block article-content
