extends layout-article

block article-content
    div(class="test-article")
        h2 Intro
        p  Something here 
        h2 Deck.gl Testing
        div(class="deck-container", id="map1")
            canvas
        h2 Conclusion

    script(src="https://unpkg.com/deck.gl@latest/dist.min.js")
    script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js")
    link(href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel='stylesheet')
    
    script.
        new deck.DeckGL({
        mapboxApiAccessToken: 'pk.eyJ1IjoiamJpeG9uIiwiYSI6ImNqd3pmYm15djFmajEzeW50bTcyNjlubXoifQ.IKupMx-qfYG4Gchw_Utupg',
        mapStyle: 'mapbox://styles/jbixon/cjxchrj87086s1ct8cs8m351s',
        container: 'map1',
        longitude: -122.45,
        latitude: 37.8,
        zoom: 14,
        pitch: 60,
        layers: [
            new deck.ScatterplotLayer({
            data: [
                {position: [-122.45, 37.8], color: [255, 0, 0], radius: 100}
            ],
            getColor: d => d.color,
            getRadius: d => d.radius
            })
        ]
        });
    appendix