html {
  font: 100 14px/1.6 helvetica, sans serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.l-page {
  width: auto;
  margin-left: 24px;
  margin-right: 24px;
  box-sizing: border-box;
}

a {
  color: #004276;
}

p {
  margin-top: 0;
}

code {
font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
padding: 2px 4px;
color: #004276;
background-color: rgb(207, 223, 235);
border-radius: 4px;
}

header {
  display: block;
  position: relative;
  height: 60px;
  background-color: hsl(200, 60%, 15%);
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

header .nav {
  float: right;
  font-weight: 300;
}

header .nav a {
  font-size: 12px;
  margin-left: 24px;
  text-transform: uppercase;
}

header .content {
  height: 70px;
}

header a {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 22px 0;
}

header a:hover {
  color: rgba(255, 255, 255, 1);
}

header svg {
  width: 24px;
  position: relative;
  top: 4px;
  margin-right: 2px;
}

.main-logo {
  width: 24px;
  margin-top: 15px;
}

footer {
  display: block;
  color: rgba(255, 255, 255, .4);
  font-weight: 300;
  padding: 40px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: hsl(200, 60%, 15%);
  text-align: center;
}

.posts-list {
  margin-top: 24px;
  margin-bottom: 24px;
}

.posts-list .post-preview {
  text-decoration: none;
  overflow: hidden;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px 0;
}

.posts-list .metadata {
  font-size: 12px;
  line-height: 1.4em;
  margin-bottom: 18px;
}

.metadata .publishedDate {
  margin-right: 1em;
}

.posts-list .post-preview .thumbnail {
  box-sizing: border-box;
  margin-bottom: 24px;
  position: relative;
  max-width: 500px;
}

.posts-list .post-preview img {
  width: 100%;
  display: block;
}

footer .nav {
  margin-top: 12px;
}

.article-title {
  padding: 2rem 0 1.5rem;
  contain: layout;
  contain: style;
  overflow: hidden;
}

.article-title h1 {
  grid-column: text;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1em;
  margin: 0 0 0.5rem;
}

.article-title p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.55rem;
}

.article-byline {
  contain: layout;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
  line-height: 1.8rem;
  padding: 1.5rem 0;
  min-height: 1.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.base-grid, .article-title, .article-contents {
  display: grid;
  justify-items: stretch;
  grid-template-columns: [screen-start] 8px [page-start kicker-start text-start gutter-start middle-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [text-end page-end gutter-end kicker-end middle-end] 8px [screen-end];
  grid-column-gap: 8px;
}

.grid {
  display: grid;
  grid-column-gap: 8px;
}

.article-byline .byline {
  grid-template-columns: 1fr 1fr;
  grid-column: text;
}

.article-byline .authors-affiliations {
  grid-column-end: span 2;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1em;
}

.article-byline h3 {
  font-size: 0.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  text-transform: uppercase;
}

.article-byline p {
  margin: 0;
  font-size: 13px;
}

.article-byline p.author {
  font-weight: 500;
}

.article-byline a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-bottom: none;
}

.article-contents {
  contain: layout;
  contain: style;
  overflow-x: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.article-contents > * {
  grid-column: text;
}

.article-contents p {
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.scrolly-side {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  padding: 1rem;
}

.scrolly-side > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.scrolly-side article {
  position: relative;
  padding: 0 1rem;
  max-width: 20rem;
}

.scrolly-side figure img {
  max-width: 100%;
  max-height: 80vh;
}

.scrolly-side .deck-figure {
  text-align: inherit;
}

.scrolly-side .deck-container {
  height: 100%;
}

.scrolly-overlay {
  position: relative;
  background-color: #f3f3f3;
  padding: 1rem;
}

.scrolly-overlay article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

.scrolly-overlay figure img {
  max-width: 100%;
  max-height: 80vh;
}

.scrolly-overlay .deck-figure {
  text-align: inherit;
}

.scrolly-overlay .deck-container {
  height: 100%;
}

.scrolly-vers {
  position: relative;
  background-color: #f3f3f3;
  padding: 1rem;
}

.scrolly-vers article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

.scrolly-vers figure img {
  max-width: 100%;
  max-height: 80vh;
}

.scrolly-vers .deck-figure {
  text-align: inherit;
}

.scrolly-vers .deck-container {
  height: 100%;
}

figure {
  text-align: center;
  vertical-align: middle;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 80vh;
  top: 10vh;
  bottom: 10vh;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #8a8a8a;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

figure .plotly {
  width: 100%;
  height: 100%;
}

.step {
  margin: 0 auto 50vh auto;
  background-color: #3b3b3b;
  opacity: 80%;
  color: #fff;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: goldenrod;
  color: #3b3b3b;
}

.test-article h1,
.test-article h2,
.test-article h3,
.test-article p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.test-article h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

.test-article h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-top: 2em;
}

.test-article p {
  font-size: 14px;
}

.test-article p a {
  font-weight: bold;
}

.test-article-title {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 2rem 0 1.5rem;
  contain: layout;
  contain: style;
  overflow: hidden;
}

.test-article-title h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1em;
  margin: 0 0 0.5rem;
}

.test-article-title p {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.55rem;
  margin-left: 0;
  margin-right: 0;
}

.deck-container {
  width: 100%;
  height: 50vh;
}

@media (min-width: 450px) {

  .article-byline .authors-affiliations {
    grid-column-end: span 1;
  }
}

@media (min-width: 768px) {

  .l-page {
    margin-left: 72px;
    margin-right: 72px;
  }
  
  header a {
    height: 70px;
    line-height: 70px;
    padding: 28px 0;
  }
  
  header svg path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 3px;
  }

  .main-logo {
    width: 36px;
  }
  
  header .logo {
  font-size: 17px;
  font-weight: 200;
  }
  
  header .nav {
  float: right;
  }

  .posts-list {
    margin-top: 60px;
  }

  .posts-list .post-preview .metadata {
    float: left;
    width: 15%;
    margin-top: 8px;
  }

  .posts-list .post-preview .thumbnail {
    float: right;
    width: 35%;
    margin-bottom: 0;
  }

  .posts-list .post-preview .description {
    float: left;
    width: 40%;
  }

  .article-title{
    padding: 4rem 0 1.5rem;
  }

  .article-title h1 {
    font-size: 50px;
  }

  .base-grid, .article-title, .article-contents {
    grid-template-columns: [screen-start] 1fr [page-start kicker-start middle-start text-start] 45px 45px 45px 45px 45px 45px 45px 45px [ kicker-end text-end gutter-start] 45px [middle-end] 45px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 16px;
  }

  .grid {
    grid-column-gap: 16px;
  }

  .article-byline {
    margin-left: 12%;
    margin-right: 25%;
  }


  .article-byline .byline {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .article-byline .authors-affiliations {
    grid-column-end: span 2;
    margin-bottom: 0;
  }

  .article-contents {
    font-size: 16px;
  }

  .test-article h1,
  .test-article h2,
  .test-article h3,
  .test-article p {
    margin-left: 12%;
    margin-right: 25%;
  }

  .test-article p {
    font-size: 16px;
  }

  .test-article-title {
    margin-left: 12%;
    margin-right: 25%;
  }

  .step p {
    margin-left: 0;
    margin-right: 0;
  }

  .scrolly-vers {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f3f3f3;
    padding: 1rem;
  }
  
  .scrolly-vers > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .scrolly-vers article {
    position: relative;
    padding: 0 1rem;
    max-width: 20rem;
  }
  
  .scrolly-vers figure img {
    max-width: 100%;
    max-height: 80vh;
  }
  
  .scrolly-vers .deck-figure {
    text-align: inherit;
  }
  
  .scrolly-vers .deck-container {
    height: 100%;
  }

  .deck-container {
    width: 100%;
    height: 60vh;
  }
}

@media (min-width: 1000px) {

  .base-grid, .article-title, .article-contents {

    grid-template-columns: [screen-start] 1fr [page-start kicker-start] 50px [middle-start] 50px [text-start kicker-end] 50px 50px 50px 50px 50px 50px 50px 50px [text-end gutter-start] 50px [middle-end] 50px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 16px;
  }

  .grid {
    grid-column-gap: 16px;
  }

  .test-article-title {
    margin-left: 20%;
    margin-right: 20%;
  }

  .article-byline {
    margin-left: 20%;
    margin-right: 20%;
  }

  .test-article h1,
  .test-article h2,
  .test-article h3,
  .test-article p {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 1024px) {

  .article-contents {
    font-size: 1.06rem;
    line-height: 1.7em;
  }

  .test-article h2 {
    font-size: 36px;
  }

  .test-article h3 {
    font-size: 20px;
  }

  .test-article p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7em;    
  }
}

@media (min-width: 1080px) {
  
  header {
    height: 70px;
  }
  
  header a {
    height: 70px;
    line-height: 70px;
    padding: 28px 0;
  }
  
  header svg path {
  fill: none;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 3px;
  }
  
  header .logo {
  font-size: 17px;
  font-weight: 200;
  }
  
  header .nav {
  float: right;
  }

  article {
    font-size: 20px;
  }

  .l-page {
    width: 984px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1180px) {

  .base-grid, .article-title, .article-contents {

    grid-template-columns: [screen-start] 1fr [page-start kicker-start] 60px [middle-start] 60px [text-start kicker-end] 60px 60px 60px 60px 60px 60px 60px 60px [text-end gutter-start] 60px [middle-end] 60px [page-end gutter-end] 1fr [screen-end];
    grid-column-gap: 32px;
  }

  .grid {
    grid-column-gap: 32px;
  }
}